body{
    margin:0;
    padding:0;
    background-color: rgba(0, 255, 255, 0.2);
    overflow-x:hidden;
}

/* 圆框（logo的框） */
.content {
    /* 位置 */
    position: absolute;
    top: 0px;
    left: 20px;
    /* 大小 */
    width: 100px;
    height: 100px;
    /* 颜色 */
    border: 3px #000000 solid; 
    /* 圆角 */
    border-radius: 50%;
}

.logoimg{
    width: 100px;
    height:100px;
}

/* 主标题 */
.main_title{
    /* 位置 */
    position: absolute;
    top: -9px;
    left: 130px;
    /* 字大小 */
    font-size:50px;
    /* 粗 */
    font-weight:900;
}

/* 分割线1 */
.line-1{
    /* 位置 */
    position: absolute;
    top: 100px;
    left: -1px;
    width: 100%;
}

/* 分割线2 */
.line-2{
    /* 位置 */
    position: absolute;
    top: 100px;
    left: 250px;
    height: 100%;
}

/* 全局 */
.bookmark{
    /* 位置 */
    position: absolute;
    top: 125px;
    left: 0px;
    margin: auto;
    /* 去点 */
    list-style: none;
    /* 固定 */
    position:fixed;
    z-index:999;
}

/* 选中 */
/* 父选项 */
.bookmark-0{
    text-decoration: none;
    color:rgb(255, 0, 0);
    /* 字大小 */
    font-size:30px;
    /* 粗 */
    font-weight:900;
}

/* 未选中 */
/* 父选项 */
.bookmark-1{
    text-decoration: none;
    color:rgb(0, 0, 0);
    /* 字大小 */
    font-size:30px;
    /* 粗 */
    font-weight:900;
}
.bookmark-1:hover{
    /* 颜色 */
    color: rgb(0, 255, 0);
    /* 字大小 */
    font-size:40px;
}
/* 子选项 */
.bookmark-2{
    text-decoration: none;
    color:rgb(0, 0, 0);
    /* 字大小 */
    font-size:20px;
    /* 粗 */
    font-weight:900;
}
.bookmark-2:hover{
    /* 颜色 */
    color: rgb(0, 255, 0);
    /* 字大小 */
    font-size:30px;
}

/* 正文 */
.text{
    /* 位置 */
    position: absolute;
    top: 99px;
    left: 247px;
    width: 100%;
    height: 100%;
}
/* 关于一些使用说明和版权声明 */
.text-1{
    /* 位置 */
    position: absolute;
    top: 140px;
    left: 100px;
    color:rgb(0, 0, 0);
    /* 字大小 */
    font-size:80px;
    /* 粗 */
    font-weight:900;
}
/* 如果您下载、使用、游玩我们的资源，即表示您同意遵守这些条款中的规定！ */
.text-2{
    /* 位置 */
    position: absolute;
    top: 290px;
    left: 120px;
    color:rgb(255, 0, 0);
    /* 字大小 */
    font-size:30px;
    /* 粗 */
    font-weight:900;
}
/* 资源类 */
.text-3{
    /* 位置 */
    position: absolute;
    top: 600px;
    left: 50px;
    color:rgb(0, 0, 0);
    /* 字大小 */
    font-size:30px;
    /* 粗 */
    font-weight:900;
}
/* ●除非我们同意，否则您不得分发我们制作的任何内容。 */
.text-4-1{
    /* 位置 */
    position: absolute;
    top: 660px;
    left: 50px;
    color:rgb(0, 0, 0);
    /* 字大小 */
    font-size:30px;
    /* 粗 */
    font-weight:900;
}
/* ●除非我们同意，否则您不得分发我们制作的任何内容。 */
.text-4-2{
    /* 隐藏 */
    display: none;
    /* 位置 */
    position: absolute;
    top: 80px;
    left: 15px;
    color:rgb(0, 0, 0);
    /* 字大小 */
    font-size:13px;
    /* 粗 */
    font-weight:900;
}
/* “分发我们制作的任何内容”是指：
将我们制作的任何内容用于商业用途；
试图通过我们制作的任何内容赚钱；
或者允许其他人以不公平或不合理的方式访问我们制作的任何内容 */
.text-5-1{
    /* 位置 */
    position: absolute;
    top: 710px;
    left: 100px;
    color:rgb(130, 130, 130);
    /* 字大小 */
    font-size:20px;
    /* 粗 */
    font-weight:900;
}
/* “分发我们制作的任何内容”是指：
将我们制作的任何内容用于商业用途；
试图通过我们制作的任何内容赚钱；
或者允许其他人以不公平或不合理的方式访问我们制作的任何内容 */
.text-5-2{
    /* 隐藏 */
    display: none;
    /* 位置 */
    position: absolute;
    top: 123px;
    left: 25px;
    color:rgb(130, 130, 130);
    /* 字大小 */
    font-size:10px;
    /* 粗 */
    font-weight:900;
}
/* ●除此之外，我们对您做的事情要求非常宽松。
实际上我们期待您做一些很棒的事情，前提是他们是开源的，并且不违反开源协议。 */
.text-6-1{
    /* 位置 */
    position: absolute;
    top: 810px;
    left: 50px;
    color:rgb(0, 0, 0);
    /* 字大小 */
    font-size:30px;
    /* 粗 */
    font-weight:900;
}
/* ●除此之外，我们对您做的事情要求非常宽松。
实际上我们期待您做一些很棒的事情，前提是他们是开源的，并且不违反开源协议。 */
.text-6-2{
    /* 隐藏 */
    display: none;
    /* 位置 */
    position: absolute;
    top: 200px;
    left: 15px;
    color:rgb(0, 0, 0);
    /* 字大小 */
    font-size:13px;
    /* 粗 */
    font-weight:900;
}
/* ●您可以将您的想法告诉我们，让我们共同进步。
当然也可以直接将你修改过的资源直接发布，但必须注明“洱海工作室” */
.text-7-1{
    /* 位置 */
    position: absolute;
    top: 900px;
    left: 50px;
    color:rgb(0, 0, 0);
    /* 字大小 */
    font-size:30px;
    /* 粗 */
    font-weight:900;
}
/* ●您可以将您的想法告诉我们，让我们共同进步。
当然也可以直接将你修改过的资源直接发布，但必须注明“洱海工作室” */
.text-7-2{
    /* 隐藏 */
    display: none;
    /* 位置 */
    position: absolute;
    top: 300px;
    left: 15px;
    color:rgb(0, 0, 0);
    /* 字大小 */
    font-size:13px;
    /* 粗 */
    font-weight:900;
}

/* 上一页 */
.up{
    /* 位置 */
    position: absolute;
    top:10000px; 
    left: 300px;
    text-decoration: none;
    color:rgb(0, 0, 255);
    /* 字大小 */
    font-size:20px;
    /* 粗 */
    font-weight:900;
}

/* 下一页 */
.lower{
    /* 位置 */
    position: absolute;
    top:10000px; 
    left: 1400px;
    text-decoration: none;
    color:rgb(0, 0, 255);
    /* 字大小 */
    font-size:20px;
    /* 粗 */
    font-weight:900;
}

/* 版权信息 */
.copyright {
    position: absolute;
    top: 1500px;
    width: 100%;
    text-align: center;
    background: rgba(51, 51, 51, 0.5);
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 15px;
    letter-spacing: 1px;
}   
.copyright_a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

/* 手机适配 */
@media screen and (max-width: 900px){
    /* 圆框（logo的框） */
    .content {
        left: 5px;
        /* 大小 */
        width: 50px;
        height: 50px;
    }
    .logoimg{
        /* 大小 */
        width: 50px;
        height: 50px;
    }

    /* 主标题 */
    .main_title{
        /* 位置 */
        top: -15px;
        left: 70px;
        /* 字大小 */
        font-size:30px;
    }

    /* 分割线1 */
    .line-1{
        /* 位置 */
        top: 50px;
        left: -1px;
    }

    /* 分割线2 */
    .line-2{
        /* 位置 */
        top: 50px;
        left: 125px;
    }

    /* 选中 */
    /* 父选项 */
    .bookmark-0{
        /* 字大小 */
        font-size:25px;
    }

    /* 未选中 */
    /* 父选项 */
    .bookmark-1{
        /* 字大小 */
        font-size:25px;
    }
    .bookmark-1:hover{
        /* 字大小 */
        font-size:25px;
    }
    /* 子选项 */
    .bookmark-2{
        /* 字大小 */
        font-size:15px;
    }
    .bookmark-2:hover{
        /* 字大小 */
        font-size:20px;
    }

    /* 全局 */
    .bookmark{
        /* 位置 */
        top: 60px;
        left: -25px;
    }

    /* 正文 */
    .text{
        /* 位置 */
        top: 49px;
        left: 121px;
    }

    /* 关于一些使用说明和版权声明 */
    .text-1{
        /* 位置 */
        top: 15px;
        left: 30px;
        /* 字大小 */
        font-size:15px;
    }
    /* 如果您下载、使用、游玩我们的资源，即表示您同意遵守这些条款中的规定！ */
    .text-2{
        /* 位置 */
        top: 50px;
        left: 15px;
        /* 字大小 */
        font-size:6.6px;
    }
    /* 资源类 */
    .text-3{
        /* 位置 */
        top: 50px;
        left: 15px;
        /* 字大小 */
        font-size:15px;
    }
    /* ●除非我们同意，否则您不得分发我们制作的任何内容。 */
    .text-4-1{
        /* 隐藏 */
        display: none;
    }
    /* ●除非我们同意，否则您不得分发我们制作的任何内容。 */
    .text-4-2{
        /* 显示 */
        display:block;
    }
    /* “分发我们制作的任何内容”是指：
    将我们制作的任何内容用于商业用途；
    试图通过我们制作的任何内容赚钱；
    或者允许其他人以不公平或不合理的方式访问我们制作的任何内容 */
    .text-5-1{
        /* 隐藏 */
        display: none;
}
    /* “分发我们制作的任何内容”是指：
    将我们制作的任何内容用于商业用途；
    试图通过我们制作的任何内容赚钱；
    或者允许其他人以不公平或不合理的方式访问我们制作的任何内容 */
    .text-5-2{
        /* 显示 */
        display:block;
    }
    /* ●除此之外，我们对您做的事情要求非常宽松。
    实际上我们期待您做一些很棒的事情，前提是他们是开源的，并且不违反开源协议。 */
    .text-6-1{
        /* 隐藏 */
        display: none;
    }
    /* ●除此之外，我们对您做的事情要求非常宽松。
    实际上我们期待您做一些很棒的事情，前提是他们是开源的，并且不违反开源协议。 */
    .text-6-2{
        /* 显示 */
        display:block;
    }
    /* ●您可以将您的想法告诉我们，让我们共同进步。
    当然也可以直接将你修改过的资源直接发布，但必须注明“洱海工作室” */
    .text-7-1{
        /* 隐藏 */
        display: none;
    }
    /* ●您可以将您的想法告诉我们，让我们共同进步。
    当然也可以直接将你修改过的资源直接发布，但必须注明“洱海工作室” */
    .text-7-2{
        /* 显示 */
        display:block;
    }

    /* 上一页 */
    .up{
        /* 位置 */
        top:10000px; 
        left: 1400px;
        /* 字大小 */
        font-size:20px;
    }

    /* 下一页 */
    .lower{
        /* 位置 */
        top:10000px; 
        left: 1400px;
        /* 字大小 */
        font-size:20px;
    }
}
